*{
    margin: 0;
    padding: 0;
    font-family: "Protest Riot", sans-serif;
}
header{
    overflow: hidden;
}
.navbar-brand{
    font-family: "Protest Riot", sans-serif;
}
.navbar{
    font-family: "Protest Riot", sans-serif;
    font-size: 18px;
}
.navbar-nav a:hover{
    border-bottom: solid #AC2026 3px;
    padding: 5px;
    color: #F2BD1D !important;
}
#herosection h2{
    font-size: 50px;
    margin-bottom: 20px;
}
#herosection a{
    text-decoration: none;
    color: white;
}
#grow1{
    margin-top: 100px;
}
#grow2{
    margin-top: 30px;
}
#grow3{
    margin-top: 30px;
}
#g1{
    width: 22%;
    height: 320px;
    overflow: hidden;
    padding: 0;
}
#g1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#g1 h2{
    background-color: rgb(28, 28, 28);
    padding: 5px 15px;
    width: max-content;
    color: white;
    font-size: 25px;
}
#g1 h6{
    background-color: rgb(55, 55, 55);
    padding: 5px 15px;
    width: max-content;
    color: white;
}
.overlay{
    bottom: 30px;
    left: 0;
    transition: all 0.8s ease;
    opacity: 0;
}
#g1:hover{
    cursor: pointer;
}
#g1 img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
#g1:hover .overlay{
    opacity: 1;
    transform: translateX(15px);
}
#socialmedia svg{
    color: white;
}
#socialmedia a{
    background-color: rgb(70, 70, 70);
    padding: 15px;
}
#footerone{
    margin-top: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer input{
    width: 250px;
    padding: 10px 20px;
    border: none;
    outline: none;
}
footer button{
    width: 100px;
    padding: 10px 0px;
    background-color: #AC2026;
    color: white;
    margin-left: 70px;
    margin-top: 10px;
    border: none;
    outline: none;
}
footer a p:hover{
    color: #F2BD1D;
    padding-left: 10px;
    transition: 0.5s;
}
#footertwo{
    border-top: solid rgb(218, 217, 217) 1px;
    padding: 40px 0px;
}
.fb a:hover{
    background-color: rgb(23, 77, 238) !important;
}
.insta a:hover{
    background-color: palevioletred !important;
}
.twitter a:hover{
    background-color: skyblue !important;
}
.pin a:hover{
    background-color: #AC2026 !important;
}
#active{
    border-bottom: #AC2026 solid 3px;
}